@tailwind base;
@tailwind components;
@tailwind utilities;

.app-font {
    font-family: Tahoma;
}

.swal-popup {
    z-index: 9999;
    /* Ensure this is higher than the dialog */
}

input[type="checkbox"] {
    display: none;
}

#file-upload {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Internet Explorer and Edge */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
}

.dropdown {
    position: relative;
  }
  
  .dropdown ul {
    position: absolute;
    z-index: 1000; /* Ensures it's on top */
    left: 0; /* Aligns the dropdown properly */
    width: 100%; /* Ensures it takes the same width as the parent */
  }
  