@tailwind base;
@tailwind components;
@tailwind utilities;

.app-font {
    font-family: Tahoma;
}

.swal-popup {
    z-index: 9999; /* Ensure this is higher than the dialog */
}

input[type="checkbox"] {
    display: none;
}

  

#file-upload {
    display: none;
  }
  .custom-file-upload {
    display: inline-block;
    cursor: pointer;
  }